<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Find and Replace</title>
</head>
<body>
    <div class='container'>
        <h1>Find and Replace</h1>
        <h3>Enter a phrase, choose a word from the phrase, and the word you would like the chosen word to be replaced with</h3>
    </div>
</body>
</html>
