<!DOCTYPE html>
<html>
<head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css'>
    <title>Found and Replaced</title>
</head>
<body>
    <div class = 'container'>
        <h1>Found and Replaced</h1>
        <h3>Taking the phrase input on the previous page, and replacing {{ chosen }} with {{ replacement }}, makes: </h3>
        <h4>{{ replaced }} </h4>
    </div>
</body>
</html>
